{% extends 'base.html.twig' %}

{% block title %}Hello ContributeFactController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Here you can contribute a fact</h1>

    {{ form(form) }}

</div>
{% endblock %}
